# ignore these folders as i don't want to sync this to github
public/
tmp/
.obsidian
.nota

# misc stuff
.env
.vscode
.DS_Store

# python
**/.ipynb_checkpoints/
**/__pycache__/

# node stuff
node_modules
build
npm-debug.log
package-lock.json