<%doc>
    header on top of every page
</%doc>

## passed in args from including templates have to be defined here
<%page args="title, header, header_text"/>

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/tailwind.css" rel="stylesheet">

        ## highlightjs https://highlightjs.org/usage/
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/a11y-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

        ## alpinejs for interactivity https://alpinejs.dev
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <title>${title}</title>
    </head>

    <body class="bg-yellow-100">

        <header class="bg-yellow-400 p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12">
            <a href="/" 
            class="text-3xl font-mono tracking-wider font-extrabold"
            >${header}</a>
            <br>
            <p>${header_text}</p>
            ## topnav to go here?
        </header>

        <!--container setting paddings-->
        <div
    class="max-w-3xl
      mx-auto
      px-4 py-5
      sm:px-6 
      md:px-7 
      lg:max-w-4xl lg:px-8
      xl:max-w-5xl xl:px-9
      bg-gray-50"
      >
 
        