<%doc>
    generates post page 
</%doc>

<%include file="header.html" 
args="title=post.title, header=header, header_text=header_text"/>

<article>
    ## title is taken from yaml meta data currently
    % if post.title:
        <h1>${post.title}</h1>
    % endif

    <div class="meta">
        posted <time>${post.date}</time>, updated <time>${post.lastmod}</time><br>
        tagged: 
        % for tag in post.tags:
        <a href="/${tag}">${tag}</a>
        % endfor
        
        <p>
        ## edit links    
        % if post.type == "notebook":
            <a href="https://github.com/khalido/blog/blob/master/notebooks/${post.slug}.ipynb">github</a>, 
            <a href="https://colab.research.google.com/github/khalido/blog/blob/master/notebooks/${post.slug}.ipynb">
                colab
            </a>
        
        % elif post.type == "post":
            <a href="https://github.com/khalido/blog/blob/master/posts/${post.slug}.md">github</a>
        % else:
            pass
        % endif
        </p>
    
    </div>
    
    % if post.toc:
    <details open>
        <summary>Table of contents.</summary>
        ${post.toc}
    </details>
    % endif
    
    <hr>
    
    ${post.html}
</article>


<%include file="footer.html"/>