<%doc>
    generates the main index page. 
    ideally this does a list of all the posts.
    todo: add a search box using fuse.js which modifies the post lists.
</%doc>

<%include file="header.html"/ args="title=title, header=header, header_text=header_text"/>

    % if tags:
        <p>tags: 
            % for tag in sorted(tags.keys()):
                <a href="/${tag}">${tag}</a> 
            % endfor
        </p>
    % endif

    <p>The search bar searches only the posts for that particular index page.</p>

    <input type="text" id="postSearch" placeholder="Search posts...">
    <ul id="searchresults">
        % for post in posts:
            <li><a href="/${post.link}">${post.title}</a></li>
        % endfor
    </ul>
    

    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>

    <script>
        // load json from disk instead of passing in python array

        const searchList = ${ postsjson }

        const options = {
            includeScore: false,
            threshold: 0.3,
            // Search in `title` and in `tags` array, add posts as well
            // default weight is 1
            keys: [{ name: 'title', weight: 2 },
                'tags']
        }

        const fuse = new Fuse(searchList, options)
        const input = document.getElementById("postSearch")

        input.oninput = (event) => {
            const results = fuse.search(event.target.value)

            document.getElementById("searchresults").innerHTML = "";

            for (result of results) {
                //console.log(result.item.title, result.item.tags)
                document.getElementById('searchresults').innerHTML += '<li>' + '<a href ="' + result.item.link + '">' + result.item.title + '</a></li>'
            }

            // if no input show all the posts
            if (input.value == "") {
                for (result of searchList) {
                    //console.log(result.item.title, result.item.tags)
                    document.getElementById('searchresults').innerHTML += '<li>' + '<a href ="' + result.link + '">' + result.title + '</a></li>'
                }
            }

        }

    </script>